section .active{
    background-color: white;
    padding: 10px 20px 10px 10px;
    border-radius: 4px;
}

body,html {
    height: 100vh;
    background-color: rgb(240,239,245);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.containe .main-body{
    width: 60rem;

}

.boxes{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
