body{
    background-color: rgb(254,254,254);
}

/* Navbar */

nav ul{
    width: 70%;
}

.navbar{
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1.2rem;
}

.navbar-brand{
    font-weight: 600;
    
}

/* PLANS */

.plans div{
    padding: 4rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 30rem;
    font-size: 1.3rem;
}

.start-free{
    width: 100%;
    margin-top: 1rem;
    border-radius: 2px;

}
.title-plans{

    margin: 5rem 0 2rem 0;
    text-align: center;
    font-size: 3rem;
}
.add-ons{
    width: 100%;

}

.addOn1 .learn_more{
    text-decoration: none;
    color: green;
}

.addOn1 span{
    font-size: 1.4rem;
}

.add-ons .addOn1{
    width: 70%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.free-btn .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 1rem ;
    width: 70%;
    height: 10rem;
    background-color: rgb(243,251,255);
    border-radius: 15px;
}


.free-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 5rem 0;
}

.free-btn .wrapper{
    padding: 10rem 2rem 10rem 2rem;
    font-size: 2.5rem;
}

.free-btn .wrapper div button{
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
}

.faq ul{
    list-style: none;
}

.faq ul{
    width: 70%;
    border: 1px solid black;
}

.faq .details div{
    margin-top: 2rem;
    width: 70%;
    font-size: 2rem;
    align-items: center;
}

/* footer */
footer {
    margin-top: 10rem;
    margin-bottom: 10rem;
}
footer .row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .row .col .footer-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

footer .row .col .footer-link:hover{
    color: green;
}
