@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    /*font-family: 'Paytone One', sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
}

body,html{
    overflow: hidden;
}
.image{
    height: 100vh;
    background-image: url('hero-desktop.jpg');
    background-size: 100% 100%;
}

.text{
    background-image: url('bg-pattern-desktop.svg');
    background-size: auto;
}
.contents{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
}

.contents .span1,p{
    color: rgb(255, 180, 192);
}

.contents p{
    font-weight: 600;
}

h1{
    font-size: 3rem;
}

.contents .span2{
    font-weight: 900;
}

.contents input{
    width: 300px;
    border-radius: 20px;
    border: 2px solid red;
    background: transparent;

}

.contents button{
    position: relative;
    width: 80px;
    height: 40px;
    left: 16rem;
    bottom: 2.5rem;
    border-radius: 30px;
    background-color: rgb(247,202,202);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-error{
    position: relative;
    width: 20px;
    left: 14.5rem;
    top: -4.4rem;

}

.error-text{
    position: relative;
    top: -3.5rem;
    left: 1.5rem;
    font-size: 12px;
}

.error-box{
    display: none;
}

.error-box-show{
    display: block;
}

.logo{
    margin: 2rem 4rem 4rem 4rem;
}